<div class="pastor-info">
  <div class="container grid-layout"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
  fxLayoutGap.sm="0"
  fxLayoutAlign="center">
    <div  class="head-img" fxFlex="40">
        <img src="../../assets/portrait_shot.jpg"/>
    </div>
    <div class="pastor-about" fxFlex>
        <h2>Nuestro Pastor</h2>
        <h1>Anthony Sosa</h1>
        <p>
            Lorem ipsum dolor sit amet, modus erroribus at est, has no atomorum inimicus. Prima referrentur quo at.
            Ancillae honestatis necessitatibus eu sed, usu no vide simul ludus, populo scripserit usu ea.
            Impedit albucius mediocritatem at pri, ne omnes singulis reformidans eos. Ad eos saperet meliore,
            hinc expetenda voluptatum cu eam. Et ipsum laboramus contentiones qui, quodsi partiendo ut est, ea vel illud veniam alienum.
            Lorem ipsum dolor sit amet, modus erroribus at est, has no atomorum inimicus. Prima referrentur quo at.
            Ancillae honestatis necessitatibus eu sed, usu no vide simul ludus, populo scripserit usu ea.
            Impedit albucius mediocritatem at pri, ne omnes singulis reformidans eos. Ad eos saperet meliore,
            hinc expetenda voluptatum cu eam. Et ipsum laboramus contentiones qui, quodsi partiendo ut est, ea vel illud veniam alienum.
            Lorem ipsum dolor sit amet, modus erroribus at est, has no atomorum inimicus. Prima referrentur quo at.
            Ancillae honestatis necessitatibus eu sed, usu no vide simul ludus, populo scripserit usu ea.
            Impedit albucius mediocritatem at pri, ne omnes singulis reformidans eos. Ad eos saperet meliore,
            hinc expetenda voluptatum cu eam. Et ipsum laboramus contentiones qui, quodsi partiendo ut est, ea vel illud veniam alienum.
        </p>
    </div>
  </div>
</div>
