<div class="info-card">
  <div class="card-header">
      <mat-icon aria-hidden="false">home</mat-icon>
  </div>
  <div class="card-content">
    <h3>PLANTA TU VISTA</h3>
    <p>
      Lorem ipsum dolor sit amet, modus erroribus at est, has no atomorum inimicus. Prima referrentur quo at.
      Ancillae honestatis necessitatibus eu sed, usu no vide simul ludus, populo scripserit usu ea. Impedit albucius mediocritatem at pri,
      ne omnes singulis reformidans eos. Ad eos saperet meliore, hinc expetenda voluptatum cu eam. Et ipsum laboramus contentiones qui,
      quodsi partiendo ut est, ea vel illud veniam alienum.
    </p>
  </div>
  <div class="card-action">
    <div class="text-center"><button class="mas-button" mat-button>Mas</button></div>
  </div>
</div>
